@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;900&family=Cairo:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



  * { margin: 0; padding: 0; box-sizing: border-box; }

  body {
    background: #0A0F1E;
    color: #E8EDF5;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    min-height: 100vh;
  }

  ::-webkit-scrollbar { width: 4px; }
  ::-webkit-scrollbar-track { background: #0A0F1E; }
  ::-webkit-scrollbar-thumb { background: #00C9A7;  border-radius: 2px; }
